.hireImg{
  background: white;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  margin: 0 0.24rem;
}
.btn{
  background: white;
  margin: 1rem 0;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;

}
.intro{
  height: calc(100vh-4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
}
.bgImg{
  position: absolute;
  top: 2rem;
  right: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
}
.introText{
  font-size: 4rem;
}
.introContent{
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello{
  font-size:2rem ;
  font-weight: 100;
}
.intoName{
  font-size: 4rem;
  color: rgb(207, 17, 93);
}
.introPara{
  font-size: medium;
  font-weight: 300;
}
@media screen and (max-width:840px) {
  .bg{
    right:-10vw ;
  }
  .introContent{
    font-size: 10vw;
  }
  .hello{
    font-size: 3.5rem;
  }
}

@media screen and (max-width:480px) {
  .bg{
    right:-20vw ;
  }
  
}
